[Desktop Entry]
Name[af]=Ligte af
Name[an]=Luces difuera
Name[ar]=إطفاء الأضواء
Name[as]=Lights Off
Name[ast]=Matar la lluz
Name[be]=Гасі святло
Name[bg]=Га̀си лампи
Name[bn]=আলো নিভিয়ে দিন
Name[bn_IN]=আলো নিভিয়ে দিন
Name[bs]=Pogasi svjetla
Name[ca]=Apaga els llums
Name[ca@valencia]=Apaga els llums
Name[cs]=Zhasněte světla
Name[da]=Sluk lyset
Name[de]=Lichter aus
Name[el]=Σβήστε τα φώτα
Name[en_CA]=Lights Off
Name[en_GB]=Lights Off
Name[en@shaw]=𐑤𐑲𐑑𐑕 𐑪𐑓
Name[eo]=Elŝalti Lumojn
Name[es]=Luces fuera
Name[et]=Tuled maha
Name[eu]=Itzali argiak
Name[fa]=چراغ‌ها خاموش
Name[fi]=Valot pois
Name[fr]=Toutéteint
Name[fur]=Distude lis lûs
Name[gl]=Apagar as luces
Name[gu]=લાઇટ બંધ
Name[he]=האורות כבויים
Name[hi]=लाइट बन्द
Name[hr]=Isključi svjetla
Name[hu]=Fények le
Name[id]=Lights Off
Name[is]=Slökkva ljósin
Name[it]=Spegni le luci
Name[ja]=Lights Off
Name[kk]=Жарықтарды сөндіру
Name[km]=បិទ​ភ្លើង
Name[kn]=ದೀಪಗಳನ್ನು ಆಫ್ ಮಾಡು
Name[ko]=불 끄기
Name[lt]=Šviesos išjungtos
Name[lv]=Izslēgt gaismu
Name[mk]=Изгаси ги светлата
Name[ml]=ലൈറ്റ് അണക്കൂ
Name[mr]=लाइट बंद करा
Name[ms]=Padam Lampu
Name[nb]=Av med lysene
Name[ne]=प्रकाश बन्द
Name[nl]=Lichten uit
Name[nn]=Av med lysa
Name[oc]=Tot atudat
Name[or]=ଆଲୋକ ବନ୍ଦ
Name[pa]=ਲਾਈਟ ਬੰਦ ਕਰੋ
Name[pl]=Lights Off
Name[pt]=Luzes desligadas
Name[pt_BR]=Luzes desligadas
Name[ro]=Opriți luminile
Name[ru]=Туши свет
Name[sk]=Zhasnúť svetlá
Name[sl]=Ugasni luči
Name[sr]=Погаси светла
Name[sr@latin]=Pogasi svetla
Name[sv]=Släck lyset
Name[ta]=விளக்குகளை அணையுங்கள்
Name[te]=లైట్సు ఆఫ్
Name[tg]=Lights Off
Name[th]=ปิดไฟ
Name[tr]=Işıklar Kapalı
Name[ug]=Lights Off
Name[uk]=Без світла
Name[vi]=Đóng đèn
Name[zh_CN]=关灯
Name[zh_HK]=關燈遊戲
Name[zh_TW]=關燈遊戲
Name=Lights Off
Comment[af]=Skakel al die ligte af
Comment[an]=Amortar todas as luces
Comment[ar]=أطفئ جميع الأضواء
Comment[as]=সকলো লাইট বন্ধ কৰক
Comment[ast]=Matar toles lluces
Comment[be]=Гульня з выключэннем ліхтарыкаў
Comment[bg]=Изгасете всички лампи
Comment[bn]=সকল আলো নিভিয়ে দেওয়া হবে
Comment[bn_IN]=সকল আলো নিভিয়ে দেওয়া হবে
Comment[bs]=Ugasite sva svjetla
Comment[ca]=Apaga tots els llums
Comment[ca@valencia]=Apaga tots els llums
Comment[cs]=Zhasněte všechna světla
Comment[da]=Sluk alle lysene
Comment[de]=Schalten Sie alle Lichter aus
Comment[el]=Σβήστε όλα τα φώτα
Comment[en_CA]=Turn off all the lights
Comment[en_GB]=Turn off all the lights
Comment[en@shaw]=𐑑𐑻𐑯 𐑪𐑓 𐑷𐑤 𐑞 𐑤𐑲𐑑𐑕
Comment[eo]=Malŝalti ĉiujn lumojn
Comment[es]=Apagar todas las luces
Comment[et]=Kõikide tulede väljalülitamise mäng
Comment[eu]=Itzali argi guztiak
Comment[fa]=تمام چراغ‌ها را خاموش کنید
Comment[fi]=Kytke kaikki valot pois päältä
Comment[fr]=Éteindre toutes les lumières
Comment[fur]=Distude dutis lis lûs
Comment[gl]=Apagar todas as luces
Comment[gu]=બધા પ્રકાશો ને બંધ કરો
Comment[he]=כיבוי כל האורות
Comment[hi]=सभी लाइट बन्द करें
Comment[hr]=Isključite sva svjetla
Comment[hu]=Kapcsolja le az összes lámpát
Comment[id]=Matikan semua cahaya
Comment[is]=Slökktu á öllum ljósunum
Comment[it]=Spegni tutte le luci
Comment[ja]=すべてのライトを消すゲーム
Comment[kk]=Барлық жарықтарды сөндіріңіз
Comment[km]=បិទ​ភ្លើង​ទាំងអស់
Comment[kn]=ಎಲ್ಲಾ ದೀಪಗಳನ್ನು ಆಫ್‌ ಮಾಡು
Comment[ko]=모든 불을 끄십시오
Comment[lt]=Išjungti visas šviesas
Comment[lv]=Izslēdziet visas gaismas
Comment[mk]=Исклучи ги сите светла
Comment[ml]=എല്ലാ ലൈറ്റുകളും കെടുത്തുക
Comment[mr]=सर्वे लाइट बंद करा
Comment[ms]=Padam semua lampu
Comment[nb]=Slå av alle lysese
Comment[ne]=प्रकाश बन्द गर्नुहोस
Comment[nl]=Schakel alle lichten uit
Comment[nn]=Slå av alle lys
Comment[oc]=Atudar totes los lums
Comment[or]=ସମସ୍ତ ଆଲୋକକୁ ବନ୍ଦ କରନ୍ତୁ
Comment[pa]=ਸਭ ਲਾਈਟਾਂ ਬੰਦ ਕਰੋ
Comment[pl]=Wyłączanie wszystkich świateł
Comment[pt]=Desligue todas as luzes
Comment[pt_BR]=Apague todas as luzes
Comment[ro]=Opriți toate luminile
Comment[ru]=Погасить все огоньки
Comment[sk]=Zhasnite všetky svetlá
Comment[sl]=Ugasni vse luči
Comment[sr]=Погасите сва светла
Comment[sr@latin]=Pogasite sva svetla
Comment[sv]=Släck alla ljus
Comment[ta]=அனைத்து விளக்குகளையும் அணையுங்கள்
Comment[te]=అన్ని లైట్సును ఆఫ్ చేయుము
Comment[tg]=Ҳамаи чароғҳоро хомӯш кунед
Comment[th]=ปิดไฟให้หมด
Comment[tr]=Tüm ışıkları kapat
Comment[ug]=بارلىق چىراغلارنى ئۆچۈرۈش
Comment[uk]=Вимкнути світло
Comment[vi]=Đóng mọi đèn
Comment[zh_CN]=关闭所有的灯
Comment[zh_HK]=想辦法關掉所有的燈
Comment[zh_TW]=想辦法關掉所有的燈
Comment=Turn off all the lights
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[an]=chuego;lochica;tablero;fichas;adchacents;puzle;
Keywords[as]=game;logic;board;tiles;adjacent;puzzle;
Keywords[be]=гульня;лагічная гульня;логіка;настольная гульня;галаваломка;
Keywords[bg]=гаси;гасене;превключване;игра;логическа;дъска;загадка;game;logic;board;tiles;adjacent;puzzle;
Keywords[bs]=igra;logika;tabla;pločice;slagalica;
Keywords[ca]=joc;lògica;tauler;fitxes;adjacents;puzle;
Keywords[ca@valencia]=joc;lògica;tauler;fitxes;adjacents;puzle;
Keywords[cs]=hra;logická;desková;políčka;hlavolam;
Keywords[da]=spil;logik;bræt;brikker;tilstødende;omgivende;hjernebryder;
Keywords[de]=game;Spiel;logic;Logik;board;Brettspiel;tiles;Kacheln;adjacent;benachbart;puzzle;Puzzle;
Keywords[el]=παιχνίδι;λογική;πίνακας;παραθέσεις;γειτονικός;γρίφος;game;logic;board;tiles;adjacent;puzzle;
Keywords[en_GB]=game;logic;board;tiles;adjacent;puzzle;
Keywords[eo]=ludo;logiko;breto;kaheloj;najbara;puzlo;
Keywords[es]=juego;lógica;tablero;fichas;adyacentes;puzle;
Keywords[et]=mäng;loogika;lauamäng;pusle;
Keywords[eu]=jokoa;logika;taula;fitxak;ondokoa;puzzle;
Keywords[fa]=بازی;منطق;تخته;کاشی;مجاور;پازل;game;logic;board;tiles;adjacent;puzzle;
Keywords[fi]=game;logic;board;tiles;adjacent;puzzle;logiikka;lauta;peli;pulma;
Keywords[fr]=jeu;logique;plateau;tuiles;cases;adjacentes;énigmes;
Keywords[fur]=zûc;zûcs;logjiche;taule;casele;berdei;lûs;
Keywords[gl]=xogo;lóxica;taboleiro;celas;adxacente;quebracabezas;
Keywords[he]=משחק;הגיון;היגיון;לוח;משבצות;סמוך;סמוכים;פאזל;פזל;תצרף;
Keywords[hi]=game;logic;board;tiles;adjacent;puzzle;
Keywords[hr]=igra;logika;ploča;pločice;susjedno;slagalica;
Keywords[hu]=játék;logika;logikai;tábla;csempék;szomszédos;feladvány;fejtörő;puzzle;
Keywords[id]=permainan;logika;papan;ubin;bersebelahan;teka-teki;
Keywords[is]=leikur;rökhugsun;borð;spjöld;aðliggjandi;gestaþraut;ráðgáta;
Keywords[it]=gioco;giochi;logica;board;tavola;caselle;vicine;puzzle;rompicapo;luci;luce;
Keywords[ja]=game;logic;board;tiles;adjacent;puzzle;ゲーム;ロジック;論理;ボード;タイル;隣接;パズル;
Keywords[kk]=game;logic;board;tiles;adjacent;puzzle;ойын;логика;тақта;плитка;көрші;жұмбақ;
Keywords[ko]=game;게임;logic;로직;논리;board;보드;tiles;타일;adjacent;옆칸;puzzle;퍼즐;
Keywords[lt]=žaidimas;logika;lenta;kokliai;gretimi;galvosūkis;
Keywords[lv]=spēle;loģika;galdiņš;flīzes;blakus;mīkla;
Keywords[ml]=കളി;യുക്തി;പലക;ടൈലുകള്‍;സമീപവസ്തു;പസ്സില്‍;
Keywords[ms]=permainan;logik;papan;jubin;bersebelahan;teka-teki;
Keywords[nb]=spill;logikk;brett;fliser;puslespill;
Keywords[nl]=spel;logisch;bord;tegels;aanliggend;puzzel;
Keywords[oc]=jòc;logica;platèu;teulas;adjacentas;enigmas;
Keywords[pl]=gra;gierka;logiczna;logika;planszowa;plansza;puzzle;puzle;
Keywords[pt]=jogo;lógica;tabuleiro;mosaicos;adjacente;puzzle;
Keywords[pt_BR]=jogo;lógica;tabuleiro;ladrilhos;pedras;adjacente;quebra-cabeça;
Keywords[ro]=game;logic;board;tiles;adjacent;puzzle;joc;logică;tablă;tile;adiacent;
Keywords[ru]=игра;логическая;настольная;головоломка;game;logic;board;tiles;adjacent;puzzle;
Keywords[sk]=hra;logická;stolová;susediace dlaždice;hlavolam;logika;
Keywords[sl]=igra;logika;tabla;ploščki;uganke;
Keywords[sr]=игра;логика;табла;плочице;слагалица;
Keywords[sr@latin]=igra;logika;tabla;pločice;slagalica;
Keywords[sv]=spel;logik;brädspel;brickor;närliggande;pussel;
Keywords[ta]=விளையாட்டு;தர்க்கம்;பலகை;தட்டுகள்;பக்கத்து;புதிர்;
Keywords[tg]=бозӣ;мантиқӣ;рӯимизӣ;лавҳаҳо;наздик;муаммо;
Keywords[tr]=oyun;mantık;tahta;taşlar;komşu;bulmaca;puzzle;
Keywords[ug]=game;logic;board;same;matching;ئويۇن;لوگىكىلىق;تاختا;كاھىش;تېپىشماق;
Keywords[uk]=гра;логічна;настільна;головоломка;
Keywords[zh_CN]=game;logic;board;tiles;adjacent;puzzle;逻辑;游戏;棋牌;解谜;
Keywords[zh_HK]=game;logic;board;tiles;adjacent;puzzle;遊戲;邏輯;桌面遊戲;拼貼;解題;
Keywords[zh_TW]=game;logic;board;tiles;adjacent;puzzle;遊戲;邏輯;桌面遊戲;拼貼;解題;
Keywords=game;logic;board;tiles;adjacent;puzzle;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.LightsOff
Exec=lightsoff
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
DBusActivatable=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
